<div class="container mb-5">
  <button class="btn btn-secondary mt-2"><i class="fa fa-arrow-left"></i><%= link_to "Back", students_path, class: "text-white"%>
  </button>
  <div class="row">
    <div class="col-md-6 offset-3">
      <div class="card mt-5">
        <div class="card-header">
          <h1 class="text-center ">New Student</h1>
        </div>  
        <div class="card-body">
          <%= render 'form', student: @student %>
        </div>  
      </div>  
    </div>
  </div>
</div>    

